babel~=2.14
coverage==6.5.0 # Last version supported by coveralls
coveralls~=3.3
datapackage~=1.15
dj-database-url~=2.1
dj-static==0.0.6
django-braces>=1.8.1
django-colorfield~=0.11.0
django-confy==1.0.4
django-countries~=7.5
django-crispy-forms==2.0 # Last version to support Django 3.2
django-admin-csvexport==2.3
django-datatables-view~=1.20
django-debug-toolbar~=4.3
django-dirtyfields~=1.9
django-dynamic-fixture==3.1.3
django-extensions~=3.2
django-extra-fields==3.0.2 # Deprecated
django-filter~=24.3
django-ical~=1.9
django-import-export~=3.3
django-nested-admin~=4.0
django-ordered-model~=3.7
django-phonenumber-field~=7.3
django-reset-migrations~=0.4
django-reversion-compare~=0.17
django-reversion~=5.0
django-taggit==6.1.0
django-treebeard~=4.7
django-utils-six==2.0
django-vite~=3.0.5
django-widget-tweaks~=1.5
Django==5.2.1
djangorestframework-csv~=3.0
djangorestframework-datatables~=0.7
djangorestframework-gis~=1.0
djangorestframework~=3.15
geojson~=3.1
geopandas~=0.14
gevent~=25.4.2
git+https://github.com/dbca-wa/appmonitor_client.git#egg=appmonitor_client
git+https://github.com/dbca-wa/django-media-serv.git#egg=django_media_serv
git+https://github.com/dbca-wa/django5-utils-six.git#egg=django5_six
git+https://github.com/dbca-wa/ledger_api_client.git#egg=ledger_api_client
git+https://github.com/dbca-wa/wagov_utils
git+https://github.com/dbca-wa/webtemplate2.git#egg=webtemplate_dbca
git+https://github.com/dbca-wa/django-cron.git@60d2002e58ac99a06ed66633ed76d8cf3380a762
git+https://github.com/goinnn/django-multiselectfield.git#egg=django-multiselectfield
git+https://github.com/xzzy/django-preserialize.git#egg=django-preserialize
gunicorn~=23.0
ipython~=8.22
jedi~=0.19
mixer~=7.2
numpy~=1.26
openpyxl~=3.1
pandas~=2.2
parso~=0.8
phonenumbers~=8.13
pillow~=10.4
pre-commit~=3.7
psutil~=5.9
psycopg2-binary~=2.9
py4j~=0.10
py7zr~=0.21.1
pycountry~=23.12
pygraphviz~=1.12
python-dateutil~=2.8
python-decouple~=3.8
python-docx~=1.1.0
reportlab~=4.1
sentry-sdk~=2.19
setuptools~=80.3
six>=1.16.0
unicodecsv==0.14.1 # A Python 2.7 drop-in replacement from 2015
wheel~=0.43
whitenoise~=6.6
xlsxwriter~=3.2
xlwt==1.3.0
