git+https://github.com/dbca-wa/webtemplate2.git#egg=webtemplate_dbca
git+https://github.com/dbca-wa/dbca-utils@1.1.1#egg=dbca-utils
psycopg2-binary~=2.9
Django~=3.2
django-extensions==1.9.8
ipython==7.31.1
git+https://github.com/dbca-wa/ledger_api_client.git#egg=ledger_api_client
coverage==4.3.1
coveralls==1.1
reportlab==3.5.55
django-braces>=1.8.1
django-datatables-view~=1.20
django-reversion~=5.0
django-reversion-compare~=0.17
git+https://github.com/xzzy/django-preserialize.git#egg=django-preserialize
django-countries~=7.5
django-cron==0.6.0 # This project is no longer maintained
django-dynamic-fixture==3.1.3
openpyxl~=3.1
datapackage~=1.15
python-dateutil~=2.8
py4j~=0.10
djangorestframework~=3.15
djangorestframework-gis~=1.0
djangorestframework-csv~=3.0
pycountry==17.1.8
six>=1.16.0
django-ical~=1.9
django-taggit==4.0.0
geojson==2.5.0
unicodecsv==0.14.1
PyPDF2==1.26.0
django-extra-fields==3.0.2 # Deprecated
django-crispy-forms==2.0
django-reset-migrations~=0.4
django-ckeditor~=6.7
djangorestframework-datatables~=0.7
django-confy==1.0.4
xlwt==1.3.0
xlsxwriter==1.1.2
gunicorn==21.2.0
dj-static==0.0.6
Pillow==10.2.0
mixer==6.1.3
django-dirtyfields~=1.9
python-docx==0.8.10
psutil~=5.9
dj-database-url==0.5.0
phonenumbers~=8.13
django-treebeard~=4.7
django-utils-six==2.0
django-widget-tweaks~=1.5
django-phonenumber-field~=7.3
# gevent==21.12.0
whitenoise==5.3.0
django-multiselectfield==0.1.12
git+https://github.com/dbca-wa/django-media-serv.git#egg=django_media_serv
# Needed for shell_plus crash issue
jedi~=0.19
parso~=0.8
django-import-export~=3.3
babel~=2.14
pandas~=2.2
git+https://github.com/dbca-wa/wagov_utils
git+https://github.com/dbca-wa/appmonitor_client.git#egg=appmonitor_client
python-decouple==3.8
numpy~=1.26
setuptools~=69.2
wheel~=0.43
pygraphviz==1.12
