{% extends 'boranga/base.html' %}

{% load static %}

{% block extra_css %}
    {{super}}
{% endblock %}

{% block left_menu_items %}
    <li><a  href="{% url 'ds_contact' %}">Contact Us</a></li>
    <li><a  href="{% url 'ds_further_info' %}">Further Information</a></li>
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
{% with system_name=settings.SYSTEM_NAME %}
    <div class="container px-4">
        <div class="row">
            <div class="col-md-6 ms-3">
                <h2 class="text-muted">
                    Welcome to the {{system_name}}
                </h2>
            </div>
            <div class="col-md-5">
                {% if not request.user.is_authenticated %}
                    <div id="ps-login-container">
                        <h3>
                            Access to {{system_name}}
                        </h3>
                        <form method="post" action=" url "social:complete" backend="email" ">
                            {% csrf_token %}
                            <div id="submit-container">
                                {% comment %} % bootstrap_button 'Submit' button_class='btn-primary' % {% endcomment %}
                            </div>
                        </form>
                        <p>Submit your email to login or start the new-user registration process.</p>
                        <hr>
                        <h4>
                            {{system_name}} Password-less Logins
                        </h4>
                        <p>
                            At the {{ settings.DEP_NAME }}, we employ a password-less authentication system, meaning you never need to remember
                            a password. When you need to login to a site, such as {{ system_name }}, simply enter your email and an 
                            authentication link will be sent to your registered email address. From there, simply follow the link to complete the login process.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endwith %}
{% endblock %}
