{%  extends 'boranga/emails/base_email.html' %}

{%  block content %}
        <p>
        The following Species has been combined: {{parent_species_numbers}}
        </p>
        <p>
            You can review the historical and new Species Profiles at:
            <ul>
                
                {% for new_species in parent_species_url %}
                    <li> Historical Species {{ forloop.counter }} :  
                        <a href="{{ new_species.species_url}}"> {{new_species.species_instance.species_number}} - {{new_species.species_instance.taxonomy.scientific_name}}</a> 
                    </li>
                {% endfor %}
                <li>New Species: <a href="{{species_url}}">{{ species_proposal.species_number }} - {{ species_proposal.taxonomy.scientific_name }} </a></li>
            </ul>
        </p>
        {% if conservation_status_url %}
            <p>
                Please action for related Conservation Status:
                <ul>
                    {% for cs in conservation_status_url %}
                        <li>   
                            <a href="{{ cs.cs_url}}"> {{cs.cs_instance.conservation_status_number}} </a>
                        </li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}
        <p>
            {% if occurrences_url %}
                Please action for related Occurrences:
                {% for occ in occurrences_url %}
                    <li> <a href="{{occ.occurrence_url}}">{{ occ.occurrence_number }}</a> </li>
                {% endfor %}
            {% endif %}
        </p>
        
    {%  endblock %}
