{%  extends 'boranga/emails/base_email.html' %}

{%  block content %}
    <p>Species {{ species_proposal.species_number }} has been renamed. You can review the historical and new Species Profiles at:</p>
    <ul>
        <li>Historical: <a href="{{species_url}}">{{ species_proposal.species_number }} - {{ species_proposal.taxonomy.scientific_name }}</a></li>
        <li>New: <a href="{{new_species_url}}">{{ new_species.species_number }} - {{ new_species.taxonomy.scientific_name }}</a></li>
    </ul>
    <p>
        {% if conservation_status_url %}
            Please action the related Conservation Status <a href="{{conservation_status_url}}">here</a>
        {% endif %}
    </p>
    <p>
        {% if occurrences_url %}
            Please action any related Occurrences:
            {% for occ in occurrences_url %}
                <li><a href="{{occ.occurrence_url}}">{{ occ.occurrence_number }}</a></li>
            {% endfor %}
        {% endif %}
    </p>
{%  endblock %}
