{%  extends 'boranga/emails/base_email.html' %}

{%  block content %}
        <p>Species {{ species_proposal.species_number }} has been split. You can review the historical and new Species Profiles at:</p>

        <ul>
            <li>Historical: {{ species_proposal.species_number }} - {{ species_proposal.taxonomy.scientific_name }}</li>
            {% for new_species in species_proposal.child_species %}
                <li>New Species {{ forloop.counter }}: {{ new_species.species_number }} - {{ new_species.taxonomy.scientific_name }} </li>
            {% endfor %}
        </ul>
        <p>
            {% if conservation_status_url %}
                You can view the Conservation Status for the historical species <a href="{{conservation_status_url}}">here</a>
            {% endif %}
        </p>
        <p>
            {% if occurrences_url %}
                To action related Occurrences:
                {% for occ in occurrences_url %}
                    <li><a href="{{occ.occurrence_url}}">{{ occ.occurrence_number }}</a></li>
                {% endfor %}
            {% endif %}
        </p>
    {%  endblock %}
