{% extends 'boranga/base.html' %}

{% block content %}
    <div>
        <H4>Hover over button to see help text.</H4>
        <form action="" method="POST">
            {% csrf_token %}
            {% comment %} <button type="submit" name="script" value="fetch_nomos_blob_data" {% if fetch_nomos_blob_data == 'true' %}style="color:green" {% endif %} title="Fetch all the Taxon data from NOMOS">Run Script 'fetch_taxon_data'</button><br><br> {% endcomment %}
        </form>
        <br>
    </div>
    <br />
    {{ ret }}
    {{ block.super }}
{% endblock %}

